#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Game
Comment=A multiplayer disaster simulator
Exec=env ./Trauma.Launcher %u
Icon=TS14
Keywords=game;gaming;launcher;multiplayer;ss14
Name[en_US]=Trauma Station
Name=Trauma Station
SingleMainWindow=true
StartupWMClass=Trauma.Launcher
Terminal=false
Type=Application
Version=1.5
